<h1>Hello from Rails</h1>
<p>
  <%= @time %>
</p>

<% for file in @files %>
  <ul>File name is: <%= file %></ul>
<% end %>

<%= "cow" + "boy" %> </ 3br>
<%= 1.hour.from_now %>

<p>
  <%= link_to "Goodbye", say_goodbye_path %>!
</p>
